# Import Libraries

In [1]:
#Import libraries
#import neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_selection import RFE
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

## Load the dataset

In [4]:
df = pd.read_csv('../Data/Final_Loans_dataset.csv')
df

<ipython-input-4-886f63ffe946>:1: DtypeWarning: Columns (1,2,4,5,6,8,9,10,13,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/Final_Loans_dataset.csv')

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
0,209801.0,FEMALE,37,7.0,EMPLOYED,FINANCE & INSURANCE,MARRIED,615.0,II,B10,KES,5000.00,642000.00,"59,826.37",204.0,DOUBTFUL,B9,"453,208.12",CURRENT
1,315048.0,MALE,41,3.0,SELF-EMPLOYED,NaN,MARRIED,529.0,JJ,B20,KES,0.00,78000.00,"6,149.03",295.0,DOUBTFUL,B9,"68,917.29",EXPIRED
2,145878.0,MALE,36,6.0,EMPLOYED,TRANSPORT & COMMUNICATION,MARRIED,665.0,FF,A5,KES,1294783.78,80000.00,"7,439.02",0.0,NORMAL,A1-A6,4.84,CURRENT
3,295535.0,MALE,41,5.0,EMPLOYED,NaN,0,618.0,HH,B20,KES,347554.00,172000.00,"16,062.90",323.0,DOUBTFUL,B9,"195,045.53",EXPIRED
4,493960.0,MALE,41,1.0,EMPLOYED,FINANCE & INSURANCE,SINGLE,696.0,DD,A5,KES,4210957.00,300502.44,"28,098.61",0.0,NORMAL,A1-A6,247.18,CURRENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#  reload the CSV with the low_memory=False parameter to properly handle the mixed data types:
df = pd.read_csv('../Data/Final_Loans_dataset.csv', low_memory=False)
df

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
0,209801.0,FEMALE,37,7.0,EMPLOYED,FINANCE & INSURANCE,MARRIED,615.0,II,B10,KES,5000.00,642000.00,"59,826.37",204.0,DOUBTFUL,B9,"453,208.12",CURRENT
1,315048.0,MALE,41,3.0,SELF-EMPLOYED,NaN,MARRIED,529.0,JJ,B20,KES,0.00,78000.00,"6,149.03",295.0,DOUBTFUL,B9,"68,917.29",EXPIRED
2,145878.0,MALE,36,6.0,EMPLOYED,TRANSPORT & COMMUNICATION,MARRIED,665.0,FF,A5,KES,1294783.78,80000.00,"7,439.02",0.0,NORMAL,A1-A6,4.84,CURRENT
3,295535.0,MALE,41,5.0,EMPLOYED,NaN,0,618.0,HH,B20,KES,347554.00,172000.00,"16,062.90",323.0,DOUBTFUL,B9,"195,045.53",EXPIRED
4,493960.0,MALE,41,1.0,EMPLOYED,FINANCE & INSURANCE,SINGLE,696.0,DD,A5,KES,4210957.00,300502.44,"28,098.61",0.0,NORMAL,A1-A6,247.18,CURRENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Check basic information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   ID                         18197 non-null    float64
 1   GENDER                     17749 non-null    object
 2   AGE                        1045120 non-null  object
 3   NO_DEFAULT_LOAN            17922 non-null    float64
 4   EMPLOYMENT_STATUS          18197 non-null    object
 5   SECTOR                     18070 non-null    object
 6   MARITAL_STATUS             18197 non-null    object
 7   CREDIT_SCORE               17922 non-null    float64
 8   SCOREGRADE                 17922 non-null    object
 9   CRR                        18197 non-null    object
 10  CURRENCY                   18197 non-null    object
 11  NET INCOME                 17763 non-null    float64
 12  PRINCIPAL_AMOUNT           18197 non-null    float64
 13  EMI                        18197 non-null    object
 14  OD_DAYS                    18197 non-null    float64
 15  PRUDENTIAL_CLASSIFICATION  18197 non-null    object
 16  RISK_GRADE                 18197 non-null    object
 17  AREARS                     18197 non-null    object
 18  LOAN_STATUS                18197 non-null    object
dtypes: float64(6), object(13)
memory usage: 152.0+ MB

In [9]:
# Check the first few rows with more readable output
print(df.head().to_string())

         ID  GENDER AGE  NO_DEFAULT_LOAN EMPLOYMENT_STATUS                     SECTOR MARITAL_STATUS  CREDIT_SCORE SCOREGRADE  CRR CURRENCY  NET INCOME  PRINCIPAL_AMOUNT        EMI  OD_DAYS PRUDENTIAL_CLASSIFICATION RISK_GRADE      AREARS LOAN_STATUS
0  209801.0  FEMALE  37              7.0          EMPLOYED        FINANCE & INSURANCE        MARRIED         615.0         II  B10      KES     5000.00         642000.00  59,826.37    204.0                  DOUBTFUL         B9  453,208.12     CURRENT
1  315048.0    MALE  41              3.0     SELF-EMPLOYED                        NaN        MARRIED         529.0         JJ  B20      KES        0.00          78000.00   6,149.03    295.0                  DOUBTFUL         B9   68,917.29     EXPIRED
2  145878.0    MALE  36              6.0          EMPLOYED  TRANSPORT & COMMUNICATION        MARRIED         665.0         FF   A5      KES  1294783.78          80000.00   7,439.02      0.0                    NORMAL      A1-A6        4.84     CURRENT
3  295535.0    MALE  41              5.0          EMPLOYED                        NaN              0         618.0         HH  B20      KES   347554.00         172000.00  16,062.90    323.0                  DOUBTFUL         B9  195,045.53     EXPIRED
4  493960.0    MALE  41              1.0          EMPLOYED        FINANCE & INSURANCE         SINGLE         696.0         DD   A5      KES  4210957.00         300502.44  28,098.61      0.0                    NORMAL      A1-A6      247.18     CURRENT

In [10]:
# Get descriptive statistics
df.describe(include='all')

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
count,18197.000000,17749,1045120,17922.000000,18197,18070,18197,17922.000000,17922,18197,18197,1.776300e+04,1.819700e+04,18197,18197.000000,18197,18197,18197,18197
unique,NaN,3,69,NaN,7,21,8,NaN,11,10,1,NaN,NaN,11618,NaN,4,4,3920,3
top,NaN,FEMALE,0,NaN,EMPLOYED,BUSINESS SERVICES,MARRIED,NaN,AA,A5,KES,NaN,NaN,"7,101.24",NaN,NORMAL,A1-A6,0,CURRENT
freq,NaN,6779,1026923,NaN,9415,3272,8296,NaN,2656,16508,18197,NaN,NaN,141,NaN,17033,17033,14202,17562
mean,253786.591251,NaN,NaN,1.045140,NaN,NaN,NaN,668.168173,NaN,NaN,NaN,2.770398e+06,1.985260e+05,NaN,9.487113,NaN,NaN,NaN,NaN
std,142327.521201,NaN,NaN,1.593513,NaN,NaN,NaN,73.684555,NaN,NaN,NaN,5.592659e+06,2.508231e+05,NaN,38.744496,NaN,NaN,NaN,NaN
min,10010.000000,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000e+00,1.000000e+03,NaN,0.000000,NaN,NaN,NaN,NaN
25%,128681.000000,NaN,NaN,0.000000,NaN,NaN,NaN,618.000000,NaN,NaN,NaN,4.262711e+05,1.800000e+04,NaN,0.000000,NaN,NaN,NaN,NaN
50%,253214.000000,NaN,NaN,0.000000,NaN,NaN,NaN,665.000000,NaN,NaN,NaN,1.123325e+06,1.000000e+05,NaN,0.000000,NaN,NaN,NaN,NaN
75%,376726.000000,NaN,NaN,2.000000,NaN,NaN,NaN,720.000000,NaN,NaN,NaN,2.820720e+06,2.805131e+05,NaN,0.000000,NaN,NaN,NaN,NaN
max,499999.000000,NaN,NaN,15.000000,NaN,NaN,NaN,830.000000,NaN,NaN,NaN,1.338524e+08,1.445752e+06,NaN,323.000000,NaN,NaN,NaN,NaN

In [11]:
# Count missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

ID                           1030378
GENDER                       1030826
AGE                             3455
NO_DEFAULT_LOAN              1030653
EMPLOYMENT_STATUS            1030378
SECTOR                       1030505
MARITAL_STATUS               1030378
CREDIT_SCORE                 1030653
SCOREGRADE                   1030653
CRR                          1030378
CURRENCY                     1030378
NET INCOME                   1030812
PRINCIPAL_AMOUNT             1030378
EMI                          1030378
OD_DAYS                      1030378
PRUDENTIAL_CLASSIFICATION    1030378
RISK_GRADE                   1030378
AREARS                       1030378
LOAN_STATUS                  1030378
dtype: int64

In [12]:
# Remove rows where all or most columns are NaN
df_clean = df.dropna(thresh=5)  # Keep rows with at least 5 non-null values
print(f"Original shape: {df.shape}, New shape: {df_clean.shape}")

Original shape: (1048575, 19), New shape: (18197, 19)

In [13]:
# Convert EMI and AREARS columns from string to float (removing commas)
df_clean['EMI'] = df_clean['EMI'].str.replace(',', '').astype(float)
df_clean['AREARS'] = df_clean['AREARS'].str.replace(',', '').astype(float)

<ipython-input-13-8cec34ee5892>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['EMI'] = df_clean['EMI'].str.replace(',', '').astype(float)
<ipython-input-13-8cec34ee5892>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['AREARS'] = df_clean['AREARS'].str.replace(',', '').astype(float)

In [14]:
# Check unique values in categorical columns
for col in ['GENDER', 'EMPLOYMENT_STATUS', 'SECTOR', 'MARITAL_STATUS', 'SCOREGRADE', 'CRR', 'PRUDENTIAL_CLASSIFICATION', 'RISK_GRADE', 'LOAN_STATUS']:
    print(f"\nUnique values in {col}:")
    print(df_clean[col].value_counts())

Unique values in GENDER:
GENDER
FEMALE    6779
MALE      5854
0         5116
Name: count, dtype: int64

Unique values in EMPLOYMENT_STATUS:
EMPLOYMENT_STATUS
EMPLOYED         9415
SELF-EMPLOYED    5930
0                2508
OTHER             275
STUDENT            42
RETIRED            14
UNEMPLOYED         13
Name: count, dtype: int64

Unique values in SECTOR:
SECTOR
BUSINESS SERVICES                      3272
INDIVIDUALS                            2520
SOCIAL, COMMUNITY & PERSONAL SERVIC    2285
WHOLESALE AND RETAIL TRADE             1935
TRANSPORT & COMMUNICATION              1816
MANUFACTURING & PROCESSING             1553
FINANCE & INSURANCE                     764
AGRICULTURE                             731
TOURISM & HOSPITALITY                   653
BUILDING & CONSTRUCTION                 600
NON PROFIT INSTITUTIONS                 520
GOVERNMENT                              326
PROFESSIONAL SERVICES                   267
REAL ESTATE                             256
PETROLEUM & NATURAL GAS                 156
ELECTRICITY & WATER                     146
HUNTING LIVESTOCK AND FISHING           136
CONSUMER DURABLES                        56
FOREIGN TRADE                            53
MINING & QUARRYING                       13
FORESTRY                                 12
Name: count, dtype: int64

Unique values in MARITAL_STATUS:
MARITAL_STATUS
MARRIED     8296
SINGLE      5331
0           4195
OTHER        286
WIDOWED       36
ENGAGED       27
DIVORCED      18
PARTNER        8
Name: count, dtype: int64

Unique values in SCOREGRADE:
SCOREGRADE
AA    2656
II    2503
HH    2100
GG    2032
JJ    1769
FF    1590
DD    1358
EE    1325
BB    1299
CC    1253
YY      37
Name: count, dtype: int64

Unique values in CRR:
CRR
A5     16508
A3       770
B9       322
B10      264
B11      185
B20      104
A6        20
A2        12
A4        11
B12        1
Name: count, dtype: int64

Unique values in PRUDENTIAL_CLASSIFICATION:
PRUDENTIAL_CLASSIFICATION
NORMAL         17033
WATCH            544
DOUBTFUL         331
SUBSTANDARD      289
Name: count, dtype: int64

Unique values in RISK_GRADE:
RISK_GRADE
A1-A6    17033
B7         544
B9         331
B8         289
Name: count, dtype: int64

Unique values in LOAN_STATUS:
LOAN_STATUS
CURRENT    17562
AUTH         398
EXPIRED      237
Name: count, dtype: int64

In [15]:
# Replace "0" with NaN in categorical columns where "0" is not a valid category
categorical_cols = ['GENDER', 'EMPLOYMENT_STATUS', 'MARITAL_STATUS']
for col in categorical_cols:
    df_clean[col] = df_clean[col].replace("0", np.nan)

<ipython-input-15-b3c44d84fd51>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[col] = df_clean[col].replace("0", np.nan)

In [16]:
# Convert AGE to numeric and replace unrealistic values (like 0) with NaN
df_clean['AGE'] = pd.to_numeric(df_clean['AGE'], errors='coerce')
df_clean['AGE'] = df_clean['AGE'].apply(lambda x: np.nan if x == 0 or x < 18 or x > 100 else x)

<ipython-input-16-42fd24c49630>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['AGE'] = pd.to_numeric(df_clean['AGE'], errors='coerce')
<ipython-input-16-42fd24c49630>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['AGE'] = df_clean['AGE'].apply(lambda x: np.nan if x == 0 or x < 18 or x > 100 else x)

In [17]:
# Convert text columns to uppercase for consistency
for col in df_clean.select_dtypes(include=['object']).columns:
    df_clean[col] = df_clean[col].str.upper() if df_clean[col].dtype == 'object' else df_clean[col]

<ipython-input-17-cd4e3589cbee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[col] = df_clean[col].str.upper() if df_clean[col].dtype == 'object' else df_clean[col]

In [18]:
# Calculate debt-to-income ratio
df_clean['DEBT_TO_INCOME'] = df_clean['EMI'] / df_clean['NET INCOME']

<ipython-input-18-b1bd7e397fbd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['DEBT_TO_INCOME'] = df_clean['EMI'] / df_clean['NET INCOME']

In [19]:
# Create age groups
bins = [18, 25, 35, 45, 55, 65, 100]
labels = ['18-25', '26-35', '36-45', '46-55', '56-65', '65+']
df_clean['AGE_GROUP'] = pd.cut(df_clean['AGE'], bins=bins, labels=labels)

<ipython-input-19-1e2d80c3fdc7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['AGE_GROUP'] = pd.cut(df_clean['AGE'], bins=bins, labels=labels)

In [20]:
# Check for outliers in NET INCOME and PRINCIPAL_AMOUNT
Q1 = df_clean['NET INCOME'].quantile(0.25)
Q3 = df_clean['NET INCOME'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
income_outliers = df_clean[(df_clean['NET INCOME'] < lower_bound) | (df_clean['NET INCOME'] > upper_bound)]
print(f"Number of outliers in NET INCOME: {len(income_outliers)}")

Number of outliers in NET INCOME: 1848

In [21]:
# Create binary default indicator
df_clean['DEFAULT'] = df_clean['PRUDENTIAL_CLASSIFICATION'].apply(lambda x: 0 if x == 'NORMAL' else 1)

# Create loan performance categories
conditions = [
    (df_clean['OD_DAYS'] == 0),
    (df_clean['OD_DAYS'] > 0) & (df_clean['OD_DAYS'] <= 30),
    (df_clean['OD_DAYS'] > 30) & (df_clean['OD_DAYS'] <= 90),
    (df_clean['OD_DAYS'] > 90)
]
choices = ['PERFORMING', 'LATE', 'DELINQUENT', 'DEFAULT']
df_clean['LOAN_PERFORMANCE'] = np.select(conditions, choices, default='UNKNOWN')

<ipython-input-21-b112e9610137>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['DEFAULT'] = df_clean['PRUDENTIAL_CLASSIFICATION'].apply(lambda x: 0 if x == 'NORMAL' else 1)
<ipython-input-21-b112e9610137>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['LOAN_PERFORMANCE'] = np.select(conditions, choices, default='UNKNOWN')

In [24]:
df_clean

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,...,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS,DEBT_TO_INCOME,AGE_GROUP,DEFAULT,LOAN_PERFORMANCE
0,209801.0,FEMALE,37.0,7.0,EMPLOYED,FINANCE & INSURANCE,MARRIED,615.0,II,B10,...,59826.37,204.0,DOUBTFUL,B9,453208.12,CURRENT,11.965274,36-45,1,DEFAULT
1,315048.0,MALE,41.0,3.0,SELF-EMPLOYED,NaN,MARRIED,529.0,JJ,B20,...,6149.03,295.0,DOUBTFUL,B9,68917.29,EXPIRED,inf,36-45,1,DEFAULT
2,145878.0,MALE,36.0,6.0,EMPLOYED,TRANSPORT & COMMUNICATION,MARRIED,665.0,FF,A5,...,7439.02,0.0,NORMAL,A1-A6,4.84,CURRENT,0.005745,36-45,0,PERFORMING
3,295535.0,MALE,41.0,5.0,EMPLOYED,NaN,NaN,618.0,HH,B20,...,16062.90,323.0,DOUBTFUL,B9,195045.53,EXPIRED,0.046217,36-45,1,DEFAULT
4,493960.0,MALE,41.0,1.0,EMPLOYED,FINANCE & INSURANCE,SINGLE,696.0,DD,A5,...,28098.61,0.0,NORMAL,A1-A6,247.18,CURRENT,0.006673,36-45,0,PERFORMING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18192,128816.0,FEMALE,25.0,1.0,SELF-EMPLOYED,MANUFACTURING & PROCESSING,SINGLE,585.0,II,A5,...,1721.71,0.0,NORMAL,A1-A6,0.00,CURRENT,0.005754,18-25,0,PERFORMING
18193,320610.0,FEMALE,38.0,1.0,EMPLOYED,MANUFACTURING & PROCESSING,MARRIED,704.0,DD,A5,...,2754.73,0.0,NORMAL,A1-A6,0.00,CURRENT,0.008586,36-45,0,PERFORMING
18194,252431.0,FEMALE,29.0,2.0,EMPLOYED,NON PROFIT INSTITUTIONS,MARRIED,607.0,II,A5,...,4476.44,0.0,NORMAL,A1-A6,0.00,CURRENT,0.006459,26-35,0,PERFORMING
18195,100763.0,FEMALE,30.0,0.0,SELF-EMPLOYED,BUILDING & CONSTRUCTION,SINGLE,694.0,DD,A5,...,1721.71,0.0,NORMAL,A1-A6,0.00,CURRENT,0.006592,26-35,0,PERFORMING
18196,173465.0,FEMALE,36.0,1.0,NaN,INDIVIDUALS,NaN,721.0,CC,A5,...,19395.60,0.0,NORMAL,A1-A6,0.00,CURRENT,0.010063,36-45,0,PERFORMING

In [22]:
df_1 = pd.read_csv('../Data/Cleaned_dataset.csv')
df_1

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
0,209801.0,FEMALE,37,7.0,EMPLOYED,FINANCE & INSURANCE,MARRIED,615.0,II,B10,KES,5000.00,642000.00,"59,826.37",204.0,DOUBTFUL,B9,"453,208.12",CURRENT
1,315048.0,MALE,41,3.0,SELF-EMPLOYED,NaN,MARRIED,529.0,JJ,B20,KES,0.00,78000.00,"6,149.03",295.0,DOUBTFUL,B9,"68,917.29",EXPIRED
2,145878.0,MALE,36,6.0,EMPLOYED,TRANSPORT & COMMUNICATION,MARRIED,665.0,FF,A5,KES,1294783.78,80000.00,"7,439.02",0.0,NORMAL,A1-A6,4.84,CURRENT
3,295535.0,MALE,41,5.0,EMPLOYED,NaN,0,618.0,HH,B20,KES,347554.00,172000.00,"16,062.90",323.0,DOUBTFUL,B9,"195,045.53",EXPIRED
4,493960.0,MALE,41,1.0,EMPLOYED,FINANCE & INSURANCE,SINGLE,696.0,DD,A5,KES,4210957.00,300502.44,"28,098.61",0.0,NORMAL,A1-A6,247.18,CURRENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18191,194938.0,FEMALE,37,0.0,EMPLOYED,INDIVIDUALS,0,757.0,AA,A3,KES,674717.91,60000.00,"5,545.94",0.0,NORMAL,A1-A6,0,CURRENT
18192,128816.0,FEMALE,25,1.0,SELF-EMPLOYED,MANUFACTURING & PROCESSING,SINGLE,585.0,II,A5,KES,299212.00,5000.00,"1,721.71",0.0,NORMAL,A1-A6,0,CURRENT
18193,320610.0,FEMALE,38,1.0,EMPLOYED,MANUFACTURING & PROCESSING,MARRIED,704.0,DD,A5,KES,320832.00,8000.00,"2,754.73",0.0,NORMAL,A1-A6,0,CURRENT
18194,252431.0,FEMALE,29,2.0,EMPLOYED,NON PROFIT INSTITUTIONS,MARRIED,607.0,II,A5,KES,693087.00,13000.00,"4,476.44",0.0,NORMAL,A1-A6,0,CURRENT
18195,100763.0,FEMALE,30,0.0,SELF-EMPLOYED,BUILDING & CONSTRUCTION,SINGLE,694.0,DD,A5,KES,261190.00,5000.00,"1,721.71",0.0,NORMAL,A1-A6,0,CURRENT