In [86]:
#Import libraries
#import neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_selection import RFE
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [87]:
df = pd.read_csv(r'C:\Users\Betty.Koila\Desktop\DataScience\DSC-CapstoneProject\Data\Final_Loans_dataset.csv')
df

c:\Users\Betty.Koila\AppData\Local\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1,2,4,5,6,8,9,10,13,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
0,209801.0,FEMALE,37,7.0,EMPLOYED,FINANCE & INSURANCE,MARRIED,615.0,II,B10,KES,5000.00,642000.00,"59,826.37",204.0,DOUBTFUL,B9,"453,208.12",CURRENT
1,315048.0,MALE,41,3.0,SELF-EMPLOYED,NaN,MARRIED,529.0,JJ,B20,KES,0.00,78000.00,"6,149.03",295.0,DOUBTFUL,B9,"68,917.29",EXPIRED
2,145878.0,MALE,36,6.0,EMPLOYED,TRANSPORT & COMMUNICATION,MARRIED,665.0,FF,A5,KES,1294783.78,80000.00,"7,439.02",0.0,NORMAL,A1-A6,4.84,CURRENT
3,295535.0,MALE,41,5.0,EMPLOYED,NaN,0,618.0,HH,B20,KES,347554.00,172000.00,"16,062.90",323.0,DOUBTFUL,B9,"195,045.53",EXPIRED
4,493960.0,MALE,41,1.0,EMPLOYED,FINANCE & INSURANCE,SINGLE,696.0,DD,A5,KES,4210957.00,300502.44,"28,098.61",0.0,NORMAL,A1-A6,247.18,CURRENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Check the number of rows to confirm
print("Total rows before cleaning:", df.shape[0])

Total rows before cleaning: 1048575

In [89]:
df.isna().sum()

ID                           1030378
GENDER                       1030826
AGE                             3455
NO_DEFAULT_LOAN              1030653
EMPLOYMENT_STATUS            1030378
SECTOR                       1030505
MARITAL_STATUS               1030378
CREDIT_SCORE                 1030653
SCOREGRADE                   1030653
CRR                          1030378
CURRENCY                     1030378
NET INCOME                   1030812
PRINCIPAL_AMOUNT             1030378
EMI                          1030378
OD_DAYS                      1030378
PRUDENTIAL_CLASSIFICATION    1030378
RISK_GRADE                   1030378
AREARS                       1030378
LOAN_STATUS                  1030378
dtype: int64

as shown above there are alot of empty rows.

In [90]:
df.tail(1030380)

,ID,GENDER,AGE,NO_DEFAULT_LOAN,EMPLOYMENT_STATUS,SECTOR,MARITAL_STATUS,CREDIT_SCORE,SCOREGRADE,CRR,CURRENCY,NET INCOME,PRINCIPAL_AMOUNT,EMI,OD_DAYS,PRUDENTIAL_CLASSIFICATION,RISK_GRADE,AREARS,LOAN_STATUS
18195,100763.0,FEMALE,30,0.0,SELF-EMPLOYED,BUILDING & CONSTRUCTION,SINGLE,694.0,DD,A5,KES,261190.00,5000.0,"1,721.71",0.0,NORMAL,A1-A6,0,CURRENT
18196,173465.0,FEMALE,36,1.0,0,INDIVIDUALS,0,721.0,CC,A5,KES,1927414.96,110000.0,"19,395.60",0.0,NORMAL,A1-A6,0,CURRENT
18197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are NAN rows after the first 18,196 rows.

In [106]:
# Keep only the first 18,196 rows
df_cleaned = df.head(18196)

# Check the shape of the cleaned dataset
print("Rows after cleaning:", df_cleaned.shape[0])
df_cleaned.to_csv(r"C:\Users\Betty.Koila\Desktop\DataScience\DSC-CapstoneProject\Data\Cleaned_dataset.csv", index=False)

Rows after cleaning: 18196

In [92]:
# Show the first few rows
print(df_cleaned.head(5))

         ID  GENDER AGE  NO_DEFAULT_LOAN EMPLOYMENT_STATUS  \
0  209801.0  FEMALE  37              7.0          EMPLOYED
1  315048.0    MALE  41              3.0     SELF-EMPLOYED
2  145878.0    MALE  36              6.0          EMPLOYED
3  295535.0    MALE  41              5.0          EMPLOYED
4  493960.0    MALE  41              1.0          EMPLOYED

                      SECTOR MARITAL_STATUS  CREDIT_SCORE SCOREGRADE  CRR  \
0        FINANCE & INSURANCE        MARRIED         615.0         II  B10
1                        NaN        MARRIED         529.0         JJ  B20
2  TRANSPORT & COMMUNICATION        MARRIED         665.0         FF   A5
3                        NaN              0         618.0         HH  B20
4        FINANCE & INSURANCE         SINGLE         696.0         DD   A5

  CURRENCY  NET INCOME  PRINCIPAL_AMOUNT        EMI  OD_DAYS  \
0      KES     5000.00         642000.00  59,826.37    204.0
1      KES        0.00          78000.00   6,149.03    295.0
2      KES  1294783.78          80000.00   7,439.02      0.0
3      KES   347554.00         172000.00  16,062.90    323.0
4      KES  4210957.00         300502.44  28,098.61      0.0

  PRUDENTIAL_CLASSIFICATION RISK_GRADE      AREARS LOAN_STATUS
0                  DOUBTFUL         B9  453,208.12     CURRENT
1                  DOUBTFUL         B9   68,917.29     EXPIRED
2                    NORMAL      A1-A6        4.84     CURRENT
3                  DOUBTFUL         B9  195,045.53     EXPIRED
4                    NORMAL      A1-A6      247.18     CURRENT

In [93]:
# Show the data types of all columns
df_cleaned.dtypes

ID                           float64
GENDER                        object
AGE                           object
NO_DEFAULT_LOAN              float64
EMPLOYMENT_STATUS             object
SECTOR                        object
MARITAL_STATUS                object
CREDIT_SCORE                 float64
SCOREGRADE                    object
CRR                           object
CURRENCY                      object
NET INCOME                   float64
PRINCIPAL_AMOUNT             float64
EMI                           object
OD_DAYS                      float64
PRUDENTIAL_CLASSIFICATION     object
RISK_GRADE                    object
AREARS                        object
LOAN_STATUS                   object
dtype: object

In [94]:
df_cleaned.isna().sum()

ID                             0
GENDER                       448
AGE                            0
NO_DEFAULT_LOAN              275
EMPLOYMENT_STATUS              0
SECTOR                       127
MARITAL_STATUS                 0
CREDIT_SCORE                 275
SCOREGRADE                   275
CRR                            0
CURRENCY                       0
NET INCOME                   434
PRINCIPAL_AMOUNT               0
EMI                            0
OD_DAYS                        0
PRUDENTIAL_CLASSIFICATION      0
RISK_GRADE                     0
AREARS                         0
LOAN_STATUS                    0
dtype: int64

Looking at the column data types, it seems that there are several columns with mixed data types. Specifically:

AGE, PRINCIPAL_AMOUNT, EMI, AREARS are of type object, but they seem like they should be numeric (such as integer or float).

CRR, SCOREGRADE, MARITAL_STATUS, SECTOR, EMPLOYMENT_STATUS, and RISK_GRADE are object type, which seems appropriate for categorical variables.

NO_DEFAULT_LOAN, CREDIT_SCORE, NET_INCOME, OD_DAYS are float64, which seems correct for numeric columns.

Steps to address the mixed data types and clean the dataset:

1. Fix the AGE, PRINCIPAL_AMOUNT, EMI, and AREARS Columns:
These columns should likely be numeric. Some entries might have non-numeric values (such as strings, missing values, or special characters), which causes pandas to infer the column as object. You can clean and convert them to numeric data types.

You can try the following code to convert these columns:

The errors='coerce' argument will turn any invalid values (like strings or symbols) into NaN values.

2. Handle Missing Values (NaN):
After converting, you will likely have NaN values in the columns where there were non-numeric values. You can decide how to handle these NaN values:

Fill with a placeholder value (e.g., 0 or the column mean).
Drop rows with NaN values in those columns.
Example to fill NaN with the mean of the column:

3. Inspect and Clean Categorical Columns:
Ensure that categorical columns such as GENDER, MARITAL_STATUS, SECTOR, etc., do not contain any unexpected characters or missing values. If needed, you can clean these columns by standardizing the values or converting them into appropriate categories.

For example, for the GENDER column:

This code strips extra spaces and replaces shorthand values (M and F) with full values (Male, Female).

4. Double-check Data Types:
After cleaning, you can verify the data types to make sure the columns are in the expected format:

In [102]:
# Use .loc to ensure you are modifying the original DataFrame
df_cleaned.loc[:, 'AGE'] = pd.to_numeric(df_cleaned['AGE'], errors='coerce')
df_cleaned.loc[:, 'PRINCIPAL_AMOUNT'] = pd.to_numeric(df_cleaned['PRINCIPAL_AMOUNT'], errors='coerce')
df_cleaned.loc[:, 'EMI'] = pd.to_numeric(df_cleaned['EMI'], errors='coerce')
df_cleaned.loc[:, 'AREARS'] = pd.to_numeric(df_cleaned['AREARS'], errors='coerce')

c:\Users\Betty.Koila\AppData\Local\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [100]:
df_cleaned.dtypes

ID                           float64
GENDER                        object
AGE                          float64
NO_DEFAULT_LOAN              float64
EMPLOYMENT_STATUS             object
SECTOR                        object
MARITAL_STATUS                object
CREDIT_SCORE                 float64
SCOREGRADE                    object
CRR                           object
CURRENCY                      object
NET INCOME                   float64
PRINCIPAL_AMOUNT             float64
EMI                          float64
OD_DAYS                      float64
PRUDENTIAL_CLASSIFICATION     object
RISK_GRADE                    object
AREARS                       float64
LOAN_STATUS                   object
dtype: object

In [97]:

# Handle missing values by filling with column mean (or you could drop rows)
#df['AGE'].fillna(df['AGE'].mean(), inplace=True)
#df['PRINCIPAL_AMOUNT'].fillna(df['PRINCIPAL_AMOUNT'].mean(), inplace=True)
#df['EMI'].fillna(df['EMI'].mean(), inplace=True)
#df['AREARS'].fillna(df['AREARS'].mean(), inplace=True)

# Inspect the cleaned data types
#print(df.dtypes)

# Optionally, you can also clean categorical columns (e.g., GENDER)
#df['GENDER'] = df['GENDER'].str.strip().replace({'M': 'Male', 'F': 'Female'})

# Finally, check the cleaned dataframe
#print(df.head())

In [98]:
# Find the sum of null values (NaN) in each column
#null_values = df.isnull().sum()

# Display the result
#print(null_values)